<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015708172561-hqphbh797nclsiho16itm7pdm4g3eq5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015708172561-hqphbh797nclsiho16itm7pdm4g3eq5e</string>
	<key>API_KEY</key>
	<string>AIzaSyD5bCp1k9f3-c8UqDqQKabSfrvq8Xsy6AQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1015708172561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sangwoo.MyNetflix</string>
	<key>PROJECT_ID</key>
	<string>mynetflix-57482</string>
	<key>STORAGE_BUCKET</key>
	<string>mynetflix-57482.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015708172561:ios:29dce5dd112fb21229ccb0</string>
</dict>
</plist>