<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337677368553-prncsde43tn0r9gh2la93ouha5q9u0ni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337677368553-prncsde43tn0r9gh2la93ouha5q9u0ni</string>
	<key>API_KEY</key>
	<string>AIzaSyAgbNOisEJcLRx1nH35vYy0hB78l1yuXq8</string>
	<key>GCM_SENDER_ID</key>
	<string>337677368553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sangwoo.Firebase101</string>
	<key>PROJECT_ID</key>
	<string>test101-92e3e</string>
	<key>STORAGE_BUCKET</key>
	<string>test101-92e3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337677368553:ios:b008ec557f945d82604478</string>
</dict>
</plist>